@font-face {
  font-family: "Wispy";
  src: url("../assets/BNWispy.otf");
}

.container{
  position: relative;

  display:grid;
  grid-template: 1fr / 1fr;
}

canvas { 
  width: 100%; 
  height: 100%;

  grid-row: 1;
  grid-column:1;
}

.menu-wrapper{
  width: 100%;
  height: 100%;
  z-index: 99;

  grid-row: 1;
  grid-column:1;
}

.menu{
  width: 100%;
  height: 100%;

  display:grid;
  grid-template: 1fr / 1fr;
}

.menu__background{
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle{
  position: absolute;
  height: auto;
}

.circle1{
  width: 200vw;
  transform: rotate(90deg);
}

.circle2{
  width: 85vw;
  transform: rotate(-60deg);
}

.circle3{
  width: 60vw;
  transform: rotate(50deg);
}

.circle4{
  width: 42vw;
  transform: rotate(220deg);
}

.circle5{
  width: 28vw;
}

.fog{
  position: absolute;
  opacity: 0.5;
}

.fog__up{
  top:0;
}

.fog__down{
  bottom: 0;
  transform: rotate(180deg);
}

.menu__copy{
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;

  color: white;
}

.title{
  font-size: 12rem;
  font-family: Wispy;
  /* add top margin to center the title */
  margin-top: 18.5rem;
}

.subtitle{
  text-transform: uppercase;
  font-family: poppins;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 400;

  position: relative;
}

.subtitle::before{
  position: absolute;
  content: "";
  width: 7rem;
  height: 0.1rem;
  background-color: white;
  left: -8.5rem;
  top: 1rem;
}

.subtitle::after{
  position: absolute;
  content: "";
  width: 7rem;
  height: 0.1rem;
  background-color: white;
  right: -8.5rem;
  top: 1rem;
}

.link{
  font-family: 'Wispy';
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;

  margin-top: 7.3rem;
  position: relative;
}

.link::before{
  content: "";
  background-color: #FFF;
  visibility: hidden;

  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
}

.link:hover::before{
  visibility: visible;
  transform: scaleX(1);
}


/* styling for the poem class */
.poem{
  grid-row:1;
  grid-column:1;
  padding-left: 10vw;
  align-self: center;
  z-index: 100;

  color:white;
  display: none;
}

.poem--right{
  padding-left: 60vw;
}

.poem__title{
  font-family: Wispy;
  font-size: 8rem;
  margin-bottom: 1.5rem;
  opacity: 0;
}

.poem__line{
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.2;

  max-width: 0%;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 1s linear;
}

.poem__line--verse{
  margin-bottom: 0.5rem;
}

/* styling for the audio */
.audio{
  grid-row:1;
  grid-column: 1;
}